:root {
  &.light {
    /* backgroubd-color */
    --clr-background-body: hsla(0, 0%, 98%, 1);

    --clr-background-header: hsla(0, 0%, 100%, 1);
    --clr-background-dropdown: hsla(0, 0%, 100%, 1);
    --clr-background-card: hsla(0, 0%, 100%, 1);
    --clr-background-secondary: hsla(0, 0%, 100%, 1);
    --clr-background-btn: hsla(0, 0%, 100%, 1);

    /* Text */
    --clr-text: hsla(200, 15%, 8%, 1);
    --clr-search: hsla(0, 0%, 77%, 1);
    --clr-btn: hsla(200, 15%, 8%, 1);
    
    /* Box shadow color */
    --box-shadow-header: 0px 2px 4px 0px hsla(0, 0%, 0%, 0.06);

    --box-shadow-dropdown: 0px 2px 9px 0px hsla(0, 0%, 0%, 0.05);

    --box-shadow-card: 0px 0px 7px 2px hsla(0, 0%, 0%, 0.03);

    --box-shadow-btn: 0px 0px 7px 0px hsla(0, 0%, 0%, 0.29);

    --box-shadow-border: 0px 0px 4px 1px hsla(0, 0%, 0%, 0.1);



    /* Icon */
    --icon-fill: hsla(0, 0%, 70%, 1);
  }

  &.dark {
    /* backgroubd-color */
    --clr-background-body: hsla(207, 26%, 17%, 1);
    --clr-background-header: hsla(209, 23%, 22%, 1);
    --clr-background-dropdown: hsla(209, 23%, 22%, 1);

    --clr-background-secondary: hsla(209, 23%, 22%, 1);


    --clr-background-btn: hsla(209, 23%, 22%, 1);
    --clr-background-card: hsla(209, 23%, 22%, 1);
    /* Text */
    --clr-text: hsla(0, 0%, 100%, 1);

    /* Box shadow color */
    --box-shadow-header: 0px 2px 4px 0px hsla(0, 0%, 0%, 0.06);

    --box-shadow-dropdown: 0px 2px 9px 0px hsla(0, 0%, 0%, 0.05);

    --box-shadow-card: 0px 0px 7px 2px hsla(0, 0%, 0%, 0.03);

    --box-shadow-input: 0px 2px 9px 0px hsla(0, 0%, 0%, 0.05);

    --box-shadow-btn: 0px 0px 7px 0px hsla(0, 0%, 0%, 0.29);

   --box-shadow-border: 0px 0px 4px 1px hsla(200, 15%, 8%, 0.25);



    /* icon */
    --icon-fill: hsla(0, 0%, 100%, 1);

    --clr-search: hsla(0, 0%, 100%, 1);

    --clr-btn: hsla(0, 0%, 100%, 1);
  }

  --btn-radius: 2px;

  --layout-mobile: 375px;
  --layout-desktop: 1440px;

  --ff-base: 'Nunito Sans', sans-serif;
  --fs-small: 12px;
}
